.loginForm{
  background-color:	#C4B7C1;
  width: 800px;
  height:600px;
  margin:auto;
  margin-top: 14em;
  border-radius: 10px;
}
#spacer{
  height: 20px;
}
#log2{
  background-color:	#569ba9;
  width: 600px;
  height:500px;
  margin: auto;
  border-radius: 10px;
}
.remainingCourse{
display: inline;
  }
#classesRemaining{
  height: 80px;

}
#hours{
  height:25px;

}

.loginForm img{
  width: 100px;
  height:80px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}
input [type="text"],input [type="password"]{
  height: 40px;
  width:200px;
  font-size: 28px;
  padding-left: 10px;
}
.btn-login{
  height: 45px;
  width:80px;
  margin-top: 10px;
  padding: 10px;
  background-color: #3F8A97;
  border-radius: 10px;
  color: white;
  margin-bottom: 20px;
}
.btn-login:hover{
  background-color: #16a6A9;
}
p{
 color: #445662;
}
.btn-register{
  height: 45px;
  width:180px;
  margin-top: 10px;
  padding: 10px;
  background-color: grey;
  border-radius: 10px;
  color: white;
  margin-bottom: 20px;
}
.btn-register:hover{
  background-color: darkgrey;
}
